# Builds / caches
.next/
dist/
coverage/
out/

# Deps
node_modules/
yarn.lock
pnpm-lock.yaml

# Generated service worker
public/sw.js

# Env & local
.env
.env.local
.env.*
!.env.example

# Logs & editor
*.log
.vscode/
.DS_Store
