# Builds / caches
.next/
dist/
coverage/
out/
public/idb.js

# Deps
node_modules/
yarn.lock
pnpm-lock.yaml

# Env & local
.env
.env.local
.env.*
!.env.example

# Logs & editor
*.log
.vscode/
.DS_Store
